<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-lg-10 mx-auto">
      <h3 class="text-center">お問い合わせフォーム</h3>
      <%= form_with model: @contact, url: public_contacts_new_path, local: true do |f| %>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス*' %>
          <%= f.text_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :message, 'メッセージ*' %>
          <%= f.text_area :message, size: '10x10', class: 'form-control' %>
        </div>

        <div class="actions text-center">
          <%= f.submit '入力内容確認', class: "btn btn-outline-success col-4 mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
