<% @products.each do |product| %>
 <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
  <div class="card w-100 ">
   <%= link_to  public_product_path(product.id),style: "color: black;" do %>
    <div class="text-center">
      <%= attachment_image_tag @product, :image, fallback:"no-image.png", size: '250x180' , class: "shadow" %>
    </div>

    <div class="text-center">
      <div><%= product.name %></div>
        <!--<h3>¥ <%#= tax_price(product.price).to_s(:delimited) %>-->
        <span class="tax">(税込)</span>

        <div>
          <td>コメント数：<%= product. products_comments.count %></td>
          <i class="far fa-comment"></i></br>
          <td>いいね数: <%= product.favorites.count %></td>
          <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
          <%# rateを表示 %>
          <div class="review-rating" data-score="<%#= products_comments.rate %>">評価：</div>
          <% if product.status == true %>
            <div class="text-success">販売中</div>
          <% else %>
            <div class="text-black-50">売り切れ</div>
          <% end %>
        </div>

    </div>
   <% end %>
  </div>
 </div>
<% end %>