<div class="container">
  <div class="row justify-content-center">
      <div class="col-4">
      <div class="mt-3" >
      <%= image_tag attachment_url(@product, :image, :fill, 250, 200 ) %>
      </div>
    </div>
    <div class="col-xs-6 product-show">
      <div class="product-description">
        <div class="field">
        <h1>登録店舗 :<%= @product.store %></h1>
        </div>
        <div class="field">
         <%= link_to 'chatbot', public_room_path(@user_room.id, product_id: @product.user_id) %>
         <i class="fab fa-line fa-3x my-green"></i>
        </div>
        <div class="field product-name">
          <h2>商品名:<%= @product.name %></h2>
        </div>
        <div class="field">
          <%= @product.description %>
        </div>
        <div class="field product-price">
          <h3>¥ <%= tax_price(@product.price).to_s(:delimited) %></h3>

          <% if user_signed_in? %>
          <!--favorite機能-->
           <div class="favorite_<%= @product.id %> ">
            <%= render 'public/favorites/favorite', product: @product %>
           </div>
          <!--rate機能-->
           <%= render 'public/review/form' %>
          <% end %>
        </div>

        <div class="field">
          <% if @product.status == true %>
            <%= form_with model:@cart_item , url: public_cart_items_path, method: :post do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
              <%= f.submit "カートに入れる", class: "glyphicon glyphicon-shopping-cart btn btn-primary" %>
            <% end %>
           <% end %>
           <% if @product.status == false %>
             <%= f.submit '売り切れ', class: "btn btn-new-register btn-lg", disabled: true %>
           <% else %>
            <%#= f.submit 'カートに入れる' %>
           <% end %>
        </div>

         <!--コメント表示-->
         <table id="comment_area">
           <%= render 'public/product_comments/index', product: @product %>
         </table>
         <!--コメント入力フォーム-->
        <% if user_signed_in? %>
           <div id ="coment_form">
             <%= render 'public/product_comments/form',product: @product,comment: @new_comment %>
         </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>