<div class="container">
  <div class="row">
   <div class="col-xs-6">
    <div id="contents-wrapper">
      <section id="contents">
  	    <figure id="keyvisual">
        	<%= render 'public/products/article' %>
	      </figure>
	     </section>
	     <p>
		    <section id="Promise">
	      <div class="prologue">
	       <h2 class="finding wow fadeIn animated" style="visibility: visible;">
	       　SDGs"植物からいただく、植物にとど
	        <span>
	         <br class="u-pc-hidden">
	         　サスティナブルな未来への取り組み。
	        </span>
	       </h2>
	       <p class="wow fadeIn animated" style="visibility: visible;">
  	       " 植物と共に生きるBOTANISTだからこそ、"
  	       <br class="u-pc-hidden">
  	       "できることがあります。"
  	       <br>
	         " 私たちには、まだまだできることがあります。 "
	       </p>
	       <p class="wow fadeIn animated" style="visibility: visible;">
	        <img src="//botanistslide.s3-ap-northeast-1.amazonaws.com/sustainable/sdgs_set@2x.png" alt="15.陸の豊かさを守ろう、13気候変動に具体的な対策を、12つくる責任つかう責任">
	        <em class="finding">
	         "私たちは3つの取り組みを" "注力して行います。"
	        </em>
	       </p>
	      </div>
          食品ロスをテーマとした、小売店や飲食店、生産者の売れ残りや食べ残し食材や農家の余剰品を、消費者に食品を安く提供するプラットフォームとしています。 <br>
          目的として食品ロスが減らし、廃棄物処理などのエネルギー、コストの節約を図ります。<br>
          消費者は”食材を安い価格"で購入、飲食店・生産者　”廃棄予定の商品を販売”できます。<br>

		    </p>

        <section id ="productsListSection">
          <div class="inner">
           <div class="txt-show">
            <div class="title">おすすめ</div>
             <ul id="recommend">
              <% @products.each do |product| %>
               <li data-product=product-<%= product.id %>>
                 <%= link_to public_product_path(product) do %>
  		             <%= attachment_image_tag product, :image, fallback:"no-image.png", size: '300x175' %>
  		             <% end %>
  		             <h1><%= product.name %></h1>
  		             <p><%= product.description %></p>
               </li>
              <% end %>
               <button class="more"></button>
	            </ul>
            </div>
           </div>
          </div>
        </section>
    </div>
   </div>
  </div>
</div>



