<div class="container">
 <div id="chats">
  <h1>Adminチャットルームの詳細</h1>
    ルームID<%= @room.id %>
    <% if @chats.blank? %>
      <p>メッセージはありません</p>
    <% else%>
      <p>メッセージがあります</p>
      <% @chats.each do |chat| %>
        <div>
          <!--三項演算子 :is_admin_sent, :boolean=true,admin flse,userを表示-->
          <!--sender = 送信者に格納して表示-->
        <% sender = chat.is_admin_sent == true ? chat.admin.name : chat.user.first_name + chat.user.last_name %>
        　<span><%= sender %></span>
        　 <div class="chatting">
        　   <div class="says">
        　    <span><%= chat.message%></span>
        　   </div>
        　 </div>
        </div>
      <% end %>
    <% end %>
    <form id="send-form">
      <%= form_with model: [:admins, @chat], url: admin_chats_path, local: true do |f| %>
        <%= f.text_field :message, class:"address-new-form" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.hidden_field :user_id, value: @chats.first.user_id %>
        <%= f.submit "送信", class:"register-green-btn"  %>
      <% end %>
    </form>
 </div>
</div>