<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div>
              <%= form_with model: @chat, remote: true do |f| %>
                <%= f.text_field :message %>
                <%= f.hidden_field :room_id %>
                <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
              <% end %>
            </div>
            <table class="message table">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= @product.user_id %>とのチャット</th>
                </tr>
              </thead>
              <tbody>
                <% @chats.each do |chat| %>
                  <tr>
                    <td>
                      <% if chat.user_id == current_user.id %>
                        <div style="text-align: left;"><%= chat.message %></div>
                      <% else %>
                        <div style="text-align: right;"><%= chat.message %></div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            <!--  <%# @chats.each do |chat| %>-->
            <!--   <%# if chat.user_id == current_user.id %>-->
            <!--    <tbody>-->
            <!--      <tr>-->
            <!--        <th>-->

            <!--        </th>-->
            <!--        <th></th>-->
            <!--      </tr>-->
            <!--    <%#　else %>-->
            <!--      <tr>-->
            <!--        <th></th>-->
            <!--        <th>-->

            <!--        </th>-->
            <!--      </tr>-->
            <!--    </tbody>-->
            <!--   <%# end %>-->
            <!--  <%# end %>-->
            <!--</table>-->


            </table>
        </div>
    </div>
</div>