<div class='container'>
  <h2 class="my-5 text-center">注文履歴詳細</h2>
    <div class='row'>
      <div class='col-6'>
        <table class="table table-hover table-bordered">
          <tr><td>購入者</td><td><%= link_to admin_users_path(@order.user) do %>
                      <%= @order.user.last_name %><%= @order.user.first_name %>
                      <% end %>
          </td></tr>
          <tr><td>注文日</td><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
          <tr><td>支払方法</td><td><%= @order.payment_method %></td></tr>
          <tr><td>注文ステータス</td>
            <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
            <td><%= f.select :status , Order.starus.keys,{} %></td>
            <td><%= f.submit "更新" %><% end %>
          </td></tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <table class="table table-hover table-bordered">
          <thead class="thead-light">
            <tr>
              <th>商品</th>
              <th>単価(税込)</th>
              <th>個数</th>
              <th>小計</th>
              <th>制作ステータス</th>
            </tr>
          </thead>
          <tbody>
            <%# @ordered_products.each do |ordered_product| %>
            <!--<tr>-->
            <!--  <td><%#= ordered_product.product.name %></td>-->
            <!--  <td><%#= tax_price(ordered_product.product.price).to_s(:delimited) %></td>-->
            <!--  <td><%#= ordered_product.quantity %></td>-->
            <!--  <td><%#= subtotal(ordered_product).to_s(:delimited) %></td>-->
            <!--<%#= form_with model: ordered_product, url: admin_ordered_product_path(ordered_product), method: :patch, local: true do |f| %>-->
            <!--  <td><%#= f.select :production_status , OrderedProduct.production_statuses.keys,{} %></td>-->
            <!--  <td><#%= f.submit "更新" %></td>-->
            <%# end %>
            <!--</tr>-->
            <!--<%# end %>-->
          </tbody>
        </table>
      </div>
      <div class="col-3">
        <table class="table table-hover table-borderless">
          <tr>
            <th class="text-right">商品合計：</th>
              <td>¥<%#= product_total_price(@ordered_products).to_s(:delimited) %></td>
          </tr>
          <tr>
            <!--<th class="text-right">ご請求金額：</th>-->
            <!--  <td>¥<%#= @order.total_price.to_s(:delimited) %></td>-->
          </tr>
        </table>
      </div>
     </div>
  </div>
</div>