<div class="container">
<div class="row justify-content-center mt-3">
  <div class="col-md-10 page-title">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">商品一覧</h5>

    <div class='d-flex justify-content-end'>
      <div class="btnripple">
        <%= link_to "+", new_admin_product_path(@product), class:"btn btn-success"%>

      </div>
    </div>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>登録者</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, admin_product_path(product) %></td>
            <td><%= product.store %></td>
            <td><%= product.price %></td>
            <td><%= product.genre.name %></td>
            <td><%= product.status ? '販売中' : '販売停止中' %></td>
          </tr>
            <% end %>
        </tbody>
      </table>
  </div>
</div>
</div>