<%= form_with(model: @review, local: true) do |f| %>

    <%#= f.text_area :comment, rows:'5', class: "form-control form-control-sm" %>
    <div class="star-form-group" id="star1">
        <label>評価：</label>
        <%#保存したいカラムの指定%>
        <%= f.label :rate,'評価', class:'star-title' %>　<%#保存したいカラムの指定%>
    </div>
    <%= f.submit "投稿する" %>
<% end %>

<script>
    $('#rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'review[rate]' //reviewモデルのrateカラムに保存
    });
</script>