<header>
  <!--<div class="header-inner">
     <h1 class="logo"><img asset_path src="/header-logo.jpg" alt=""></h1>
    </div>-->
  	<div class="list-menu">
		  <div class="nav-inner">
			  <ul class="list text-nowrap">
			    <li class="nav-item mr-auto">
			      <%= image_tag asset_path("header-logo.jpg"), class: 'header-logo' %>
			    </li>
			    <% if user_signed_in? %>
			      <li class="nav-item-form">
	       		  <%= render "public/searchs/search" %>
	    		  </li>
     <!--   <li class="nav-item">-->
			  <!-- <%#= link_to current_user.user.last_name , users_guest_sign_in_path(current_user.id), class: "user.last_name" %>-->
			  <!--</li>-->
			      <li class="nav-item">
              <%= link_to "/" , class:"nav-link" do %>
                <span>TOP</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_user_show_path(current_user) , class:"nav-link" do %>
                <span>MYPAGE</span>
              <% end %>
            </li>
            <li>
              <%= link_to public_products_path, class:"nav-link" do %>
                <span>PRODUCT</span>
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to public_cart_items_path, class: 'nav-link text-light' do %>
                <!--<span class = "nav-list-text-text">CART</span>-->
                <i class="fas fa-shopping-cart fa-lg"></i>
             <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to public_contacts_new_path, class: 'nav-link text-light' do %>
                <!--<span class = "nav-list-text-text">CONTACT</span>-->
                <i class="far fa-envelope fa-lg"></i>
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to destroy_user_session_path , method: :delete , class: 'fas fa-sign-out-alt nav-link text-light' do %>
                <span class = "nav-list-text-text">LOGOUT</span>
              <% end %>
            </li>

        <!--admin-->
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to admin_products_path , class:"nav-link" do %>
               <span>商品一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_users_path , class:"nav-link" do %>
                <span>会員一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_root_path , class:"nav-link" do %>
                <span>注文履歴一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_genres_path, class:"nav-link" do %>
                <span>ジャンル一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_rooms_path, class:"nav-link" do %>
                <span>chatbot一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path , method: :delete ,class:"nav-link" do %>
                <span>ログアウト</span>
              <% end %>
            </li>

         <% else %>
          <li class="nav-item">
           <%= link_to 'ゲストログイン（ユーザー閲覧用）', users_guest_sign_in_path, method: :post, class: "login" %>
          </li>
          <li class="nav-item">
           <%= link_to 'ゲストログイン（管理者閲覧用）', admins_guest_sign_in_path, method: :post, class: "login" %>
          </li>
          <li class="nav-item">
			      <%= render "public/searchs/search" %>
			    </li>
          <li>
            <%= link_to "/" , class:"nav-link" do %>
              <span>TOP</span>
            <% end %>
          </li>
          <li>
            <%= link_to about_public_products_path , class:"nav-link" do %>
              <span>About</span>
            <% end %>
          </li>
          <li>
            <%= link_to admin_products_path , class:"nav-link" do %>
              <span>商品一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to  new_user_registration_path , class:"nav-link" do %>
              <span>新規登録</span>
            <% end %>
          </li>
          <li>
            <%= link_to  new_admin_session_path , class:"nav-link" do %>
              <span>ログイン</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>