<header>
    <div class="header-inner">
     <h1 class="logo"><img asset_path src="/header-logo.jpg" alt=""></h1>
    </div>

    	<div class="list-menu">
			  <div class="nav-inner">
			  <ul class="list">
			  <% if user_signed_in? %>
			  <li class="nav-item">
			  <%= render "public/searchs/search" %>
			  </li>
     <!--   <li class="nav-item">-->
			  <!-- <%#= link_to current_user.user.last_name , users_guest_sign_in_path(current_user.id), class: "user.last_name" %>-->
			  <!--</li>-->
			  <li class="nav-item">
         <%= link_to "/" , class:"nav-link" do %>
              <p>トップページ</p>
         <% end %>
        </li>
        <li class="nav-item">
         <%= link_to public_user_show_path(current_user) , class:"nav-link" do %>
              <p>マイページ</p>
         <% end %>
        </li>
        <li>
          <%= link_to public_products_path, class:"nav-link" do %>
           <p>商品一覧</P>
          <% end %>
        </li>
        <li>
          <%= link_to public_cart_items_path, class:"nav-link" do %>
           <p>カート</P>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path , method: :delete ,class:"nav-link" do %>
           <p>ログアウト</P>
          <% end %>
        </li>

        <!--admin-->
        <% elsif admin_signed_in? %>
        <li>
          <%= link_to admin_products_path , class:"nav-link" do %>
            <p>商品一覧</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path , class:"nav-link" do %>
            <p>会員一覧</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_root_path , class:"nav-link" do %>
            <p>注文履歴一覧</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_genres_path, class:"nav-link" do %>
            <p>ジャンル一覧</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_rooms_path, class:"nav-link" do %>
            <p>chatbot一覧</p>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path , method: :delete ,class:"nav-link" do %>
            <p>ログアウト</p>
          <% end %>
        </li>

        <% else %>
        <li class="nav-item">
         <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "login" %>
        </li>
        <li class="nav-item">
			   <%= render "public/searchs/search" %>
			  </li>
        <li class="nav-item">
         <%= link_to "/" , class:"nav-link" do %>
              <p>トップページ</p>
         <% end %>
        </li>
        <li>
          <%= link_to about_public_products_path , class:"nav-link" do %>
            <p>About</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_products_path , class:"nav-link" do %>
            <p>商品一覧</p>
          <% end %>
        </li>
        <li>
          <%= link_to  new_user_registration_path , class:"nav-link" do %>
            <p>新規登録</p>
          <% end %>
        </li>
        <li>
          <%= link_to  new_admin_session_path , class:"nav-link" do %>
            <p>ログイン</p>
          <% end %>
        </li>
        <% end %>
      </ul>
      </div>
      </div>
</header>